#screen2 {
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
}

.s2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.s2-intro-text {
    font-family: 'Varela Round', sans-serif;
    font-size: clamp(1rem, 4vw, 1.5rem); 
    color: #FFFCF8;
    text-align: center;
    line-height: 1.5;
}

.s2-main-headline {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: clamp(2.5rem, 8vw, 3.5rem);
    color: #E6F19A;
    text-align: center;
}

.s2-image {
    max-width: 75%; /* Ensures the image doesn't overflow its container */
    height: auto;    /* Maintains aspect ratio */
    margin-top: 1.0rem; /* Add some space above the image */
    margin-bottom: 1.0rem; /* Add some space below the image, before the button */
    display: block; /* Ensures it takes up its own line for margin */
}
